@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header header header"
    "navbar navbar navbar"
    "report information information"
    "game boys_uniform girls_uniform"
    "subscribe choose_one choose_one"
}

.header {
    grid-area: header;
    text-align: center;
    background-color: #a98457;
    color: #ffffff;
    font-family: "Agbalumo";
}

.navbar {
    grid-area: navbar;
    text-align: center;
    color: #ffffff;
}

.navbar li {
    list-style-type: none;
    display: inline;
    color: black;
    font-weight: bold;
    font-size: 32px;
}

.navbar li:hover {
    background-color: #dddddd;
}


.report {  
    grid-area: report;
    text-align: center;
    background-color: #a98457;
    color: #ffffff;
    font-family: "Agbalumo";
}

.information {
    grid-area: information;
    text-align: center;
    background-color: #a98457;
    color: #ffffff;
    font-family: "Agbalumo";
    font-size: 24px;
    }

.game {
    grid-area: game;
    text-align: center;
    background-color: #a98457;
    color: #ffffff;
    font-family: "Agbalumo";
    font-size: 9px;

}

.boys_uniform {
    grid-area: boys_uniform;
    text-align: center;
    background-color: bisque;
}

.girls_uniform {
    grid-area: girls_uniform;
    text-align: center;
    font-family: "Agbalumo";
    background-color: bisque;
}

.subscribe {
    grid-area: subscribe;
}

.choose_one {
    grid-area: choose_one;
}